<!-- Copyright -->
<footer class="bg-dark">
    <div class="container px-4 px-lg-5">
        <p class="m-0 text-center text-white">
            <span id ="lastUpdateElement">Last update: {{lastUpdateDate}}</span><br>
            <span id ="copyrightElement">.:. Copyright &copy;2020-{{copyrightDate}} .:. </span>
            <a class="cm-test-link text-white" href="https://www.cm-innovationlab.it/">CM-InnovationLab.it</a> .:.<!--  .:. All Rights Reserved .:. -->
        </p>
    </div>
</footer>
<!-- Copyright -->