<app-toggle-search  (notifyDashboardToggle)="onToggleSearchEvent()"></app-toggle-search>

<div class="container">
    <button class="btn btn-primary" (click)="refreshMap()">Aggiorna Mappa</button>
</div>

<app-marker-form *ngIf="showMarkerForm" (formSubmit)="receiveFormData($event)"></app-marker-form>

<br>

<div id="map"></div>

<app-user-table (notifyDashboardUserTable)="userTableAction()"></app-user-table>

<div class="container">
    <div id="space" style="margin-bottom: 70px;"></div>
</div>