<app-navbar></app-navbar>

<!-- fondamentale per routing* -->
<router-outlet></router-outlet>

<app-footer></app-footer>


<!--
<app-registration></app-registration>


<h2>INTERPOLATION & DATA BINDING</h2>
Modificato da {{creator_name}}
<br>
<img [src]="image_campo" alt="No image in assets" style="height:100px">
<br>

<div>

<button (click)="onClickMarco()">EVENT BINDING</button>
<br>-->


<!-- serve la modifica nei module.ts -->
<!-- <input [(ngModel)]="value_Marco" type="text">
<br>
{{value_Marco}}
</div>

<app-form-component></app-form-component> 



<h2>ROUTING</h2>


<app-intro></app-intro>
<app-courses></app-courses>
<app-footer></app-footer>


<h2>SERVICE + SWITCH</h2>
<app-e-info></app-e-info>

-->