<div class="container">

  <h1>User reg</h1>

  <form #login="ngForm" (ngSubmit)="submit(login)"><!--Associa il submit ad angular-->

    <div class="form-group">

      <label for="FirstName">FirstName</label><br>
      <input #variabileNgNome = "ngModel" required minlength="2" maxlength="7" type="text" name="FirstName" class="form-control" ngModel>
      <div *ngIf ="variabileNgNome.touched && variabileNgNome.invalid" class="alert alert-danger">

        <p *ngIf="variabileNgNome.errors?.['required']">This is required!</p>
        <p *ngIf="variabileNgNome.errors?.['minlength']">Too Short!</p>
        </div>
    </div>
<br>
    <div class="form-group">

      <label for="LastName">LastName</label><br>
      <input type="text" name="LastName" class="form-control" ngModel>
    </div>
    <br>
    <div class="form-group">

      <label for="Mail">Mail</label><br>
      <input type="text" name="Mail" class="form-control" ngModel>
    </div>

    <br>
    <div class="form-group">

      <label for="Password">Password</label><br>
      <input type="text" name="Password" class="form-control" ngModel>
    </div>
    <br>
    <button class="btn btn-primary" type="submit">VAI!</button>

  </form>
</div>