.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.switch {
    position: relative;
    height: 32px;
    width: 300px;
    margin: 20px auto;
    background: #F2F2F2;
    background: #D7D7D7;
    border-radius: 32px;
}

.switch-label {
    font-weight: bold;
    position: relative;
    z-index: 2;
    float: left;
    width: 100px;
    line-height: 32px;
    font-size: 16px;
    color: black;
    text-align: center;
    cursor: pointer;
}

.switch-input {
    display: none;
}

.switch-input:checked + .switch-label {
    color: black;
    transition: 0.15s ease-out;
    transition-property: color, text-shadow;
}

.switch-input:checked + .switch-label-T ~ .switch-selector {
    transform: translateX(0%);
    background-color: gray;
}

.switch-input:checked + .switch-label-R ~ .switch-selector {
    transform: translateX(100%);
    background-color: red;
}

.switch-input:checked + .switch-label-G ~ .switch-selector {
    transform: translateX(200%);
    background-color: green;
}

.switch-selector {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    display: block;
    width: 100px;
    height: 32px;
    border-radius: 32px;
    background-color: #1ab394;
    transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.search-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="text"] {
    margin-right: 10px;
    margin-left: 10px;
}

button {
    border-radius: 25px;
}