<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <h1>Termini e Condizioni</h1>

                            <br>

                            <h3>Servizi</h3>
                            <ol type="1">
                                <li>L'accesso ai servizi offerti da questa piattaforma è interamente <b><u>GRATUITO</u></b> e non saranno chiesti pagamenti di alcun tipo all'utente che si registra</li>
                                <li>I dati immessi saranno resi noti, solo se espressamente richiesto dall'utente stesso, ai soli utenti registrati al servizio</li>
                            </ol>

                            <br>

                            <h3>Salvataggio dati</h3>
                            <ol type="1">
                                <li>I dati (mail, cellulare, password) saranno archiviati nel database</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>